@charset "utf-8";

h5 {
	color: #000000;
}

.INF_haz_sub_level4, 
.INF_haz_sub_level5,
.INF_haz_level4, 
.INF_haz_level5,
.INF_vul_sub_level4, 
.INF_vul_sub_level5, 
.INF_vul_level4, 
.INF_vul_level5,
.INF_cap_sub_level4, 
.INF_cap_sub_level5, 
.INF_cap_level4, 
.INF_cap_level5, 
.INF_sum_sub_level4, 
.INF_sum_sub_level5, 
.INF_sum_level4, 
.INF_sum_level5 
{
	color: #ffffff;
}


.INF_haz_sub_level1, 
.INF_haz_sub_level2, 
.INF_haz_sub_level3, 
.INF_haz_level1, 
.INF_haz_level2, 
.INF_haz_level3, 
.INF_vul_sub_level1, 
.INF_vul_sub_level2, 
.INF_vul_sub_level3, 
.INF_vul_level1, 
.INF_vul_level2, 
.INF_vul_level3, 
.INF_cap_sub_level1, 
.INF_cap_sub_level2, 
.INF_cap_sub_level3, 
.INF_cap_level1 ,
.INF_cap_level2, 
.INF_cap_level3, 
.INF_sum_sub_level1, 
.INF_sum_sub_level2, 
.INF_sum_sub_level3, 
.INF_sum_level1, 
.INF_sum_level2, 
.INF_sum_level3 
{
	color: #000000;
}

.INF_haz_sub_level1 {
	background-color: #FFEFD9;
}
.INF_haz_sub_level2 {
	background-color: #FFDEB3;
}
.INF_haz_sub_level3 {
	background-color: #FFCF8E;
}
.INF_haz_sub_level4 {
	background-color: #F28B00;
}
.INF_haz_sub_level5 {
	background-color: #A25C00;
}

.INF_haz_level1 {
	background-color: #FDE6D7;
}
.INF_haz_level2 {
	background-color: #FBCCB0;
}
.INF_haz_level3 {
	background-color: #F9B48A;
}
.INF_haz_level4 {
	background-color: #D9590D;
}
.INF_haz_level5 {
	background-color: #913C09;
}

.INF_vul_sub_level1 {
	background-color: #DCE4F1;
}
.INF_vul_sub_level2 {
	background-color: #BBCBE3;
}
.INF_vul_sub_level3 {
	background-color: #98B0D6;
}
.INF_vul_sub_level4 {
	background-color: #3A5E92;
}
.INF_vul_sub_level5 {
	background-color: #273F61;
}

.INF_vul_level1 {
	background-color: #CCDAEE;
}
.INF_vul_level2 {
	background-color: #9AB5DC;
}
.INF_vul_level3 {
	background-color: #678FCB;
}
.INF_vul_level4 {
	background-color: #203960;
}
.INF_vul_level5 {
	background-color: #152640;
}

.INF_cap_sub_level1 {
	background-color: #EEF1DE;
}
.INF_cap_sub_level2 {
	background-color: #DFE4BE;
}
.INF_cap_sub_level3 {
	background-color: #CED79D;
}
.INF_cap_sub_level4 {
	background-color: #88953E;
}
.INF_cap_sub_level5 {
	background-color: #5B6428;
}

.INF_cap_level1 {
	background-color: #FFE9D8;
}
.INF_cap_level2 {
	background-color: #C4D2B0;
}
.INF_cap_level3 {
	background-color: #A7BD88;
}
.INF_cap_level4 {
	background-color: #506237;
}
.INF_cap_level5 {
	background-color: #354224;
}


.INF_sum_level1,
.INF_sum_sub_level1 {
	background-color: #FFC8BF;
}
.INF_sum_level2,
.INF_sum_sub_level2 {
	background-color: #FE9181;
}
.INF_sum_level3,
.INF_sum_sub_level3 {
	background-color: #FE5A43;
}
.INF_sum_level4,
.INF_sum_sub_level4 {
	background-color: #921301;
}
.INF_sum_level5,
.INF_sum_sub_level5 {
	background-color: #620D00;
}
