/* Styles for OpsRoom homepage
--------------------------------*/

/* Map styling
---------------*/
#map {
  height: 350px;
}

ol {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 14px;
    color: #3e3e3e;
	list-style: inside;
	list-style-type: lower-alpha;
}
#NSgovernanceTable th {
	text-align: right;
	padding-right: 10px;
}
#NSgovernanceTable th, #NSgovernanceTable td {
	margin: 0px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
#PacScorecardTable th, #PacScorecardTable td {
	padding: 3px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: none;
	border-top: none;
	font-size: 11px;
	color: white;
	text-align: center;
	width: 11%;
}

.pacScoreGood {
	background-color : #157723;
}
.pacScoreMedium {
	background-color: orange;
}
.pacScoreBad {
	background-color: #D33F49;
}

#pnsProjects {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#togglePNS:checked ~ #Title {
  height: 250px;
}

input.showButton {
  display: block;
  padding: 0.5em;
  text-align: center;
  border: solid 1px;
}

tr.PastProject td {
  font-style: italic;
  font-size: smaller;
}

#eventstable i, #pasteventstable i {
	font-size: small;
}

#eventstable .table_icon, #pasteventstable .table_icon {
	width: 50px;
	padding: 5px;
}
#eventstable .event_month, #pasteventstable .event_month {
	background-color: white;
	border-style: hidden;
	color: red;
}
#eventstable .event_header, #pasteventstable .event_header {
	background-color: lightgray;
}
#eventstable .event_item, #pasteventstable .event_item {
	background-color: white;
	border-bottom-color: lightgrey;
	border-left-color: white;
	border-right-color: white;
}
#eventstable h2, #pasteventstable h2 {
	color: #D33F49;
	font-weight: bold;
}
#colofon p {
	text-align: center;
}
