/* Styles for OpsRoom homepage
--------------------------------*/

/* Map styling
---------------*/
#map {
  height: 300px;
}

ol {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 14px;
    color: #3e3e3e;
	list-style: inside;
	list-style-type: lower-alpha;
}
#NSgovernanceTable th {
	text-align: right;
	padding-right: 10px;
}
#NSgovernanceTable th, #NSgovernanceTable td {
	margin: 0px;
	padding-top: 0px !important;
	padding-bottom: 3px !important;
}