/* Map styling
---------------*/
#map {
  height: 350px;
}

ol {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 14px;
    color: #3e3e3e;
	list-style: inside;
	list-style-type: lower-alpha;
}
#NSgovernanceTable th {
	text-align: right;
	padding-right: 10px;

}
#NSgovernanceTable th, #NSgovernanceTable td {
	margin: 0px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;

}
#PacScorecardTable th, #PacScorecardTable td {
	padding: 3px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: none;
	border-top: none;
	font-size: 11px;
	color: white;
	text-align: center;
	width: 11%;
}

.pacScoreGood {
	background-color : #157723;
}
.pacScoreMedium {
	background-color: orange;
}
.pacScoreBad {
	background-color: #D33F49;
}

#pnsProjects {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#togglePNS:checked ~ #Title {
  height: 250px;
}

input.showButton {
  display: block;
  padding: 0.5em;
  text-align: center;
  border: solid 1px;
}

tr.PastProject td {
  font-style: italic;
  font-size: smaller;
}

#eventstable i, #pasteventstable i {
	font-size: small;
}

#eventstable .table_icon, #pasteventstable .table_icon {
	width: 50px;
	padding: 5px;
}
#eventstable .event_month, #pasteventstable .event_month {
	background-color: white;
	border-style: hidden;
	color: red;
}
#eventstable .event_header, #pasteventstable .event_header {
	background-color: lightgray;
}
#eventstable .event_item, #pasteventstable .event_item {
	background-color: white;
	border-bottom-color: lightgrey;
	border-left-color: white;
	border-right-color: white;
}
#eventstable h2, #pasteventstable h2 {
	color: #D33F49;
	font-weight: bold;
}
#colofon p {
	text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-width {
  width: 86%;
  height: 100vh;
  margin: 0 auto;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.item {
  position: absolute;
  width: 63%;
  height: auto;

}

.item-image-container {
  position: relative;
  width: 45%;
}



.item-image {
  position: relative;
  width: 110%;
  height: 450px;
  opacity: 0;
  display: flex;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;


}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: 150px;
  left: -1.8%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 7vw;
  color: ##f00;
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}


.content{
  width: 100%;
  height: 450px;
  background: orange

}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e20a0a;
}

button:hover, a:hover {
  opacity: 0.7;
}
.list li {
  background: url("https://bradfrost.github.com/this-is-responsive/patterns/images/icon_arrow_right.png") no-repeat 97% 50%;
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 45em) {
  .list li {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 75em) {
  .list li {
    width: 50%;
  }
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



/* Control the right side */
.right {
  right: 0;
  background-color: #dc1e1e;
  width: 44.9%;
}

/* If you want the content centered horizontally and vertically */
.middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.middle img {
  height:  inherit;
  width: auto;

}
.img-circle {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgrey;
  border-radius: 50%;
}
.li-head{
  color: #3e3e3e;
  font-size: 18px;

}
.pwords{
  color: #3e3e3e;
  font-size: 18px;
}
.slideme{
    height: 100%;
    width: 55%;
  }
.words{
  font-weight: bold;
  font-size: 26px;
  color: white;

}
.psize{
  font-size: 17px;
  color: #3e3e3e;
}
.dap{
  color:#dc1e1e;
  font-size: 27px;

}
div.ex1 {
  background-color: #3e3e3e12;
  width: 590px;
  height: 500px;
  overflow: auto;
}
div.ex2 {
  background-color:#3e3e3e12;
  width: 1200px;
  height: 500px;
  overflow: auto;
}
div.ex3 {
  background-color: white;
  width: 1200px;
  height: 360px;
  overflow: auto;
}
/* slider*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Gudea', sans-serif;
  font-weight: normal
}

.slider {
  width: 100%;
  max-width: 1200px;
  padding: inherit;
  margin: auto;
  height: 600px;
  position: relative;
}
.slider ul, .slider ul li {
  width: 100%;
  height: 100%
}
.slider ul {
  position: relative;
  overflow: hidden;
}
.slider ul li {
  position: absolute;
  top: 0;
  left: -100%;
  color: #fff;
  font-family: serif;
}
.slider .controll {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 44%;
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
  cursor: pointer;
  color: #333
}
.slider .controll:first-of-type {
  transform: rotate(45deg);
  left: 20px
}
.slider .controll:last-of-type {
  transform: rotate(225deg);
  right: 20px
}
.slider .controll:hover, .slider .controll.active {
  border-color: #f98686 /* rose */
}
.slider ol {
  text-align: center;
  padding-top: 10px;
}

.slider ol .fa {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  font-weight: normall
}
.slider ol li:hover .fa:before, .slider ol li.active .fa:before {
  content: "\f111"
}
/* .slider ul li.active {
  z-index: 999;
  left: 0
} */
.slider_dl {
  width: 90%;
  padding: inherit;
  margin: auto;
  height:  auto;
  position: relative;
}
